* {
    margin: 0;
    padding: 0;

}

.upper-portion {
    text-align: center;
    background-color: rgb(243, 243, 243);
}

.userprofile {
    width: 200px;
    
}

.head {
    padding-bottom: 10px;
    font-size: 30px;
}

.mainpara {
    font-size: 30px;
    padding-top: 10px;
}