* {
    margin: 0;
    padding: 0;

}

.upper-portion {
    text-align: center;
    background-color: rgb(209, 209, 209);
    margin-bottom: 30px;
    border-radius: 20px ;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.userprofile {
    width: 200px;
    
}

.head {
    padding-bottom: 10px;
    font-size: 30px;
}

.mainpara {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.below-portion{
    text-align: center;
    background-color: rgb(231, 231, 231);
    
    border-radius: 20px ;
    margin-left: 20px;
    margin-right: 20px;
    
}

.head2{
    padding-bottom: 10px;
    font-size: 30px;
    padding-top: 15px;
}